@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Pacifico&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Yrsa:ital,wght@1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}

.logo-text {
    font-family: 'Tilt Prism', cursive;
}

.heading {
  font-family: 'Roboto Slab', serif;
}

.form {
  font-family: 'Sanchez', serif;
}
